* {
    margin: 0 auto;
}
.search {
/*    text-align: right;*/
}

.search > #keyword {
    width: 35%;
    height: 40px;
    float: right;
}

.fas {
    float: right;
    margin: 4px;


    list-style: none;
    text-decoration: none;
}



.main > .list > .list_right, .click_right {
    float: right;
}

