.container{
    margin-top: 3%;
}
.container .row{
    margin-bottom: 5%;
}
.container > .row{
    display: flex;
    justify-content: center;
}
.big-tit{
    padding: 0;
}
.api-search{
    display: flex;
    padding: 0;
}
.search-result{
    font-size: 1.55rem;
    padding: 0;
    display: flex;
    justify-content: center;
}
.search-result span{
    color: blue;
}
.condition{
    border:1px solid lightgray
}
.condition-tit{
    padding: 1rem;
    text-align: center;
}
.condition-list{
    display: block;
    overflow-y: scroll;
    height: 10rem;
    margin-left: 1rem;
}
.condition-list ul{
    list-style: none;
    padding: 0;
}

/* API-list */
.ul-wrapper{
    padding: 0;
}
.api-list{
    list-style: none;
    border: 1px solid lightgray;
    padding:1.5%;
}
 .api-title{
    font-weight: bold;
    margin-bottom: 1rem;
}
.api-content{
    font-size: 0.75rem;
    margin-bottom: 1rem;
}
.info-item{
    width: 12%;
}
.api-info-title{
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 1%;
}

.api-data{
    font-size:0.75rem;
    color: darkgray;
    margin-right: 7%;
    /*float: left;*/
}
.api-list button{
    margin-left: 56%;
    margin-top: -6.3%;
}