.container > .row{
    margin-bottom: 3%;
}
.api-search{
    display: flex;
}
.api-search > input[type='search']{
    width: 70%;
}
.api-list{
    list-style: none;
    border: 1px solid lightgray;
}
.search-result{
    font-size: 20px;
}
.search-result span{
    text-align: center;
}
/* justify-content: center; */